.centreLogo{
  margin: 0 auto;
  display: block;
  max-width:550px;
  width: 90%;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-timing-function: linear;
}

.centreLine{
  width: 60%;
  display: block;
  margin: 0 auto;
}

.para{
  font-size: 20px;
  text-align: center;
  opacity: 0.5;
}

.circleBoys{
  display: inline-block;
  width: 17%;
  margin: 0 auto;
}

.circleBoys:hover{
  opacity: 0.2;
}

@keyframes pulse {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(0); opacity: .6; }
        100% { transform: translateY(0);}
}
